<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TradingApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="~/js/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/chartjs-plugin-annotation-master/chartjs-plugin-annotation.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div style="background-color:#006747 !important;height: 60px;">
        
        <nav>
            <div class="navigation">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home </a></li>
                    <text> | </text>
                    <li><a asp-area="" asp-controller="Home" asp-action="Symbols">Symbols </a></li>
                    <text> | </text>
                    <li><a asp-area="" asp-controller="Home" asp-action="TopQuotes">Top 5 Quotes </a></li>
                    <text> | </text>
                    <li><a asp-area="" asp-controller="Home" asp-action="GetQuote">Get a Quote </a></li>
                    <text> | </text>
                    <li><a asp-area="" asp-controller="Home" asp-action="Chart">Chart </a></li>
                    <text> | </text>
                    <li><a asp-area="" asp-controller="Home" asp-action="Refresh">Refresh </a></li>
                    <text> | </text>
                    <li><a asp-area="" asp-controller="Home" asp-action="Strategy">About us </a></li>
                    <text> | </text>
                </ul>
            </div>
        </nav>
    </div>
    <div style="clear:both">

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>ISDS, Muma College of Business, University of South Florida</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
